@import "./variables.css";

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 16px;
    line-height: 1.5em;
}

.container {
    margin: auto;
}

.primary-text {
    color: var(--primary-color);
}

/* HEADER */
#main-header {
    border-bottom: 1px solid var(--primary-color);
}

#main-header a {
    text-decoration: none;
    color: inherit;
}

/* NAVBAR */
#navbar {
    text-transform: uppercase;
}

#navbar li {
    display: inline;
    padding-right: 20px;
    list-style: none;
}

#navbar a {
    text-decoration: none;
    color: var(--grey-text-color);
}

#navbar a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

/* SHOWCASE */
#showcase {
    position: relative;
}

#showcase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 30px;
    background: url(../assets/laptop.jpg) no-repeat center center;
    background-size: cover;
    opacity: .8;
}

#showcase .row {
    padding: 220px 0;
}

#showcase h1 {
    font-size: 2.5em;
    margin: 0;
    padding-bottom: 50px;
}

#showcase h3 {
    font-size: 28px;
    margin: 0;
    padding-bottom: 5px;
}

#showcase p {
    color: #fff;
    margin: 0;
}

#showcase .showcase-content {
    background: #222;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: left;
    border-radius: 40px;
    padding: 40px;
    opacity: .8;
}

#showcase #showcase-photo {
    position: relative;
    z-index: 1;
    width: 45%;
    border-radius: 50%;
}

/* CONTACT-CV */
#contact-cv {
    margin-bottom: 20px;
}

#contact-cv h4 {
    padding: 10px;
    margin: 0;
    font-size: 16px;
}

#contact-cv .button {
    max-width: 180px;
    margin-right: 10px;
    margin-left: 10px;
}

#contact-cv .button-contact {
    background-color: var(--primary-color);
    border-radius: 40px;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

#contact-cv .button-contact:hover {
    background-color: var(--button-hover-color);
}

#contact-cv .button-cv {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    color: var(--primary-color);
    transition: color 0.3s ease-in-out,
                border-color 0.3s ease-in-out;
}

#contact-cv .button-cv:hover {
    border-color: var(--button-hover-color);
    color: var(--button-hover-color);
}

/* ABOUT ME */
#about h2 {
    font-size: 30px;
}

.test {
    border: 2px solid red;   
}

#about h4 {
    margin: 0;
    margin-bottom: 12px;
}

#about .about-content {
    width: 100%;
    padding: 20px 40px;
    margin: 0;
    box-shadow: 5px 5px 50px var(--shadow-color);
    text-align: left;
}

#about .about-content-left {
    border-right: 1px solid var(--primary-color);
}

/* SKILLS */
#skills h2 {
    font-size: 30px;
}

#skills h3 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 40px;
    align-self: center;
}

#skills .skills-content {
    width: 100%;
    margin: 0;
    padding: 0;
}

#skills .skills-content-left {
    padding: 20px 40px;
    height: 300px;
    box-shadow: 5px 5px 50px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* BARS */
#skills .bar {
    background-color: var(--bar-color);
    border-radius: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: 10px;
}

#skills .bar-fill {
    background-color: var(--bar-fill-color);
    height: 100%;
    border-radius: 40px;
}

#skills .bar-fill-html {
    background-color: var(--bar-fill-color);
    height: 100%;
    width: var(--skill-html);
}

#skills .bar-fill-css {
    background-color: var(--bar-fill-color);
    height: 100%;
    width: var(--skill-css);
}

#skills .bar-fill-js {
    background-color: var(--bar-fill-color);
    height: 100%;
    width: var(--skill-js);
}

#skills .skills-content-right {
    padding: 20px 40px;
    height: 300px;
    box-shadow: 5px 5px 50px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#skills .bar-fill-punctuality {
    background-color: var(--bar-fill-color);
    height: 100%;
    width: var(--skill-punctuality);
}

#skills .bar-fill-patience {
    background-color: var(--bar-fill-color);
    height: 100%;
    width: var(--skill-patience);
}

#skills .bar-fill-teamwork {
    background-color: var(--bar-fill-color);
    height: 100%;
    width: var(--skill-teamwork);
}

/* PORTFOLIO */
#portfolio h2 {
    font-size: 30px;
}

#portfolio .portfolio-item {
    position: relative;
    height: 400px;
    max-width: 400px;
    margin: 0 auto 30px;
    background-size: cover;
    box-shadow: 5px 5px 50px var(--shadow-color);
    transition: all 0.5s ease-in-out;
}

#portfolio .portfolio-item:hover {
    opacity: .8;
}

#portfolio .portfolio-item-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 300px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#portfolio .portfolio-item:hover>.portfolio-item-overlay {
    opacity: 1;
}

#portfolio a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}

#portfolio .portfolio-item-descr {
    position: absolute;
    min-height: 100px;
    max-height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid var(--primary-color);
    background-color: #fff;
    color: #000;
    text-align: left;
    padding: 10px 15px;
}

#portfolio .portfolio-item-descr h4 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

#portfolio .portfolio-item-descr h6 {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-size: 15px;
}

#portfolio .portfolio-item-descr p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #777;
}

#portfolio-item-1 {
    background: url("../assets/portfolio-item.jpg") no-repeat;
}

#portfolio-item-2 {
    background: url("../assets/portfolio-item.jpg") no-repeat;
}

#portfolio-item-3 {
    background: url("../assets/portfolio-item.jpg") no-repeat;
}

#portfolio-item-4 {
    background: url("../assets/portfolio-item.jpg") no-repeat;
}

#portfolio-item-5 {
    background: url("../assets/portfolio-item.jpg") no-repeat;
}

#portfolio-item-6 {
    background: url("../assets/portfolio-item.jpg") no-repeat;
}

/* INFO
#info {
    background: url(../assets/laptop.jpg) no-repeat;
    color: white;
}

#info h2 {
    font-size: 35px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#info ul {
    list-style: none;
    padding: 0;
}

#info li {
    line-height: 2em;
    font-size: 20px;
} */

/* CONTACT */
#contact h2 {
    font-size: 30px;
}

#contact h3 {
    font-size: 26px;
    padding-bottom: 50px;
    margin: 0;
}

#contact .contact-content {
    margin: 0;
    margin-bottom: 24px;
    box-shadow: 5px 5px 50px var(--shadow-color);
}

#contact .contact-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: var(--primary-color);
    padding: 40px 30px;
    color: #fff;
}

#contact ul {
    list-style: none;
    margin-top: 100px;
    padding-left: 0;
}

#contact .contact-content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 30px;
}

#contact .contact-content-right input[type="text"] {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

#contact .contact-content-right input[type="text"]:last-child {
    margin-top: 50px;
}

#contact input[type="text"] {
    border: 0;
    border-bottom: 1px solid var(--primary-color);
}

/* COMPANY */
#company {
    background: #333;
    color: white;
    padding: 10px 0;
}

#company h4 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

#company .social-icons {
    padding: 0;
    list-style: none;
    line-height: 2em;
    display: flex;
    justify-content: space-evenly;
    max-width: 30%;
    margin: 0 auto 10px;
}

#company i {
    font-size: 30px;
}

#company a {
    text-decoration: none;
    color: #fff;
}

/* FOOTER */
#main-footer {
    background: var(--primary-color);
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
    #showcase h1 {
        font-size: 2em;
    }

    #showcase h3 {
        font-size: 1.4em;
    }
}

@media (max-width: 767px) {
    #showcase .showcase-content {
        text-align: center;
        margin-bottom: 100px;
    }

    #showcase .row {
        padding: 100px 0;
    }

    #about .about-content {
        padding: 20px 0px;
    }

    #about .about-content > div {
        padding: 10px 0;   
    }

    #about .about-content-left {
        border: 0;
        border-bottom: 1px solid var(--primary-color);
    }

    #skills .skills-content > div {
        margin: 10px auto;
    }

    #company .social-icons {
        max-width: 50%;
    }
}